<!DOCTYPE html>
<html>
    <head>
        <title>CS253</title>
    </head>

    <body>
	<h1>CS253</h1>
	<div class="href"><a href="/problem1/birthday">problem1</a></div>
	<div class="href"><a href="/problem2">problem2 ROT13</a></div>
	<div class="href"><a href="/problem2_2/signup">problem2 signup</a></div>
	<div class="href"><a href="/art">asciichan</a></div>
	<div class="href"><a href="/example_cookie">example cookie</a></div>
	<div class="href"><a href="/blog">blog</a></div>
	<div class="href"><a href="/blog/newpost">blog newpost</a></div>
	<div class="href"><a href="/blog/signup">blog signup</a></div>
	<div class="href"><a href="/blog/login">blog login</a></div>
	<div class="href"><a href="/blog/users">blog users</a></div>
	<div class="href"><a href="/blog/.json">blog json</a></div>
	<div class="href"><a href="/blog/flush">blog flush cache</a></div>
	<div class="href"><a href="/wiki">wiki</a></div>
    </body>
</html>
