{% extends "base.html" %}

{% block options %}
  <div class="options">
    <a href={{uri}}>view</a>
    <a href="/wiki/_history">history</a>
  </div>
{% endblock %}

{% block login %} 
  <div class="login">
    <a href="/wiki/logout">{{username}}(logout)</a>
  </div>
{% endblock %}

{% block form %} 
  <form method="post">
    <textarea name="content">{{content}}</textarea>
    <input type="submit">
  </form>
{% endblock %}

{% block ref_top %}
  <p> <a href="#top"> Top </a> </p>
{% endblock %}


