{% extends "base.html" %}

{% block title_body %} 
  CS 253 Signup
{% endblock %}

{% block options %}
  <a href={{uri_view}}>view</a>
{% endblock %}

{% block form %}
  <form method="post">
    <label>
      <div>Username</div>
      <input type="text" name="username" value={{username}}>
      {% block error_username %}{% endblock %}
    </label>
    <label>
      <div>Password</div>
      <input type="password" name="password" value="">
      {% block error_password %}{% endblock %}
    </label>
    {% block error_verify_password_email %}{% endblock %}
    {% block error_login %}{% endblock %}
    <div>
      <input type="submit">
    </div>
  </form>
{% endblock %}

