{% extends "history_base.html" %}

{% block options_history %}
  <a href={{uri_view}}>view</a>
{% endblock %}

{% block login_history %}
  <a href="/wiki/login">login</a>
  <a href="/wiki/signup">signup</a>
{% endblock %}

{% block entries %}
<table>
    {% for entry in entries %}
      <tr>
        <th class="created">{{entry.created.strftime('%b %d, %Y')}}</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <td class="content">{{entry.content}}</td>
        <td class="opciones">
        <th class="opciones">
          <a href={{entry.uri_history_view}}>view</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
